[submodule "vendor/Symfony/Component/Console"]
	path = vendor/Symfony/Component/Console
	url = https://github.com/symfony/Console.git
[submodule "vendor/Symfony/Component/Yaml"]
	path = vendor/Symfony/Component/Yaml
	url = https://github.com/symfony/Yaml.git
[submodule "vendor/Symfony/Component/File"]
	path = vendor/Symfony/Component/File
	url = https://github.com/symfony/Finder.git
[submodule "vendor/Symfony/Component/Finder"]
	path = vendor/Symfony/Component/Finder
	url = https://github.com/symfony/Finder.git
[submodule "vendor/Symfony/Component/BrowserKit"]
	path = vendor/Symfony/Component/BrowserKit
	url = git://github.com/symfony/BrowserKit.git
[submodule "vendor/Symfony/Component/Process"]
	path = vendor/Symfony/Component/Process
	url = git://github.com/symfony/Process.git
[submodule "vendor/Symfony/Component/DomCrawler"]
	path = vendor/Symfony/Component/DomCrawler
	url = git://github.com/symfony/DomCrawler.git
[submodule "vendor/Symfony/Component/CssSelector"]
	path = vendor/Symfony/Component/CssSelector
	url = git://github.com/symfony/CssSelector.git
[submodule "vendor/Mink"]
	path = vendor/Mink
	url = git://github.com/Behat/Mink.git
[submodule "src/core"]
	path = src/core
	url = git://github.com/DavertMik/TestGuy_Core.git
